@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src:url(/assets/fonts/96cf68ad838940613b54.woff2) format('woff2'),url(/assets/fonts/96cf68ad838940613b54.ttf) format('truetype');
}
@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src:url(/assets/fonts/efae703531c89eebd282.woff2) format('woff2'),url(/assets/fonts/efae703531c89eebd282.ttf) format('truetype');
}
@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src:url(/assets/fonts/bcc2c8b38b3be4efbf4f.woff2) format('woff2'),url(/assets/fonts/bcc2c8b38b3be4efbf4f.ttf) format('truetype');
}
@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src:url(/assets/fonts/b6b3e4f2bbe4463d9fc3.woff2) format('woff2'),url(/assets/fonts/b6b3e4f2bbe4463d9fc3.ttf) format('truetype');
}
@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 800;
  font-display: swap;
  src:url(/assets/fonts/b931b96dad931f35c2b9.woff2) format('woff2'),url(/assets/fonts/b931b96dad931f35c2b9.ttf) format('truetype');
}
@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 900;
  font-display: swap;
  src:url(/assets/fonts/0463e08122fee3384b0b.woff2) format('woff2'),url(/assets/fonts/0463e08122fee3384b0b.ttf) format('truetype');
}
